{% extends 'account/base.html' %}  {% load socialaccount %}{% load static %}
{% block title %} Sign In {% endblock title%}
{% block content %}
        <form action="#" method="POST" class="">
          
            <h1> Set Password</h1>
            {% csrf_token %}
            <div class="form-class">
               {{form.password1.label}}{{ form.password1 }}
            </div>
            <div class="form-class">
                {{form.password2.label}}{{form.password2}}
            </div>

            </div>
            <input type="submit" value="Set Password" class="submit-btn">
        </form>
             
{% endblock content %}