{% load static %}

<header>
    <nav class="nav">
        <a href="{% url 'home' %}">
        <img
            src="{% static 'assets/images/WebSphere.png' %}"
            alt="WebSphere logo"
            class="nav__logo"
            id="logo"
        />
    </a>
        <ul class="nav__links">
            <li class="nav__item">
                <div class="dropdown">
                    <span>Explore</span>
                    <div class="dropdown-content">
                        {% for category in categories %}
                        
                            <a href="{% url 'category_filter' category.id %}"
                                >{{ category.name }}</a>

                        {% endfor %}
            </li>
            <li class="nav__item nav__search">
                <form
                    action="{% url 'search_results' %}"
                    method="get"
                    class="nav__container--search-bar"
                >
                    <input
                        type="search"
                        class="nav__search-bar"
                        placeholder="Enter your search here"
                        name="q"
                        aria-\
                        label="Search"
                    />
                    <button type="submit" value="search" class="btn--search"> search</button>
                </form>
            </li>
            <li class="nav__item write-post">
                <a class="nav__link" href="{% url 'create_blogpost'%}">
                    <div class="nav__link--post">
                        <img
                            src="{% static 'assets/images/writing.svg' %}"
                            alt="writing icon"
                        />
                        <p>Write</p>
                    </div>
                </a>
            </li>
            <li class="nav__item icon">
                <img
                    src="{% static 'assets/images/light-mode.svg' %}"
                    alt="light-mode icon"
                    title="toggle light-dark mode"
                />
            </li>
            <li class="nav__item icon" id="notification">
                <img
                    src="{% static 'assets/images/notification.svg' %}"
                    alt="notification icon"
                    title="notifications"
                />
            </li>

            {% if user.is_authenticated %}
            <p class="user">{{user}}</p>
            <a href="{% url 'account_logout' %}"> logout </a>
            {% else %}

            <li class="nav__item d-flex--c">
                <a class="nav__link" href="{% url 'account_signup' %}"
                    >Signup</a
                >
            </li>

            {% endif%}
        </ul>
    </nav>
</header>
