{% load static %}

<header>
    <nav class="nav">
        <img
            src="{% static 'assets/images/WebSphere.png' %}"
            alt="WebSphere logo"
            class="nav__logo"
            id="logo"
        />
        <ul class="nav__links">
            <li class="nav__item">
                <a class="nav__link" href="#">My Feed</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#">Eplore</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#">Bookmarks</a>
            </li>
            <li class="nav__item nav__search">
                <div class="nav__container--search-bar">
                    <input
                        type="search"
                        class="nav__search-bar"
                        placeholder="Enter your search here"
                        name="search"
                    />
                    <input type="submit" value="search" class="btn--search" />
                </div>
            </li>
            <li class="nav__item write-post">
                <a class="nav__link" href="{% url 'create_blogpost'%}">
                    <div class="nav__link--post">
                        <img
                            src="{% static 'assets/images/writing.svg' %}"
                            alt="writing icon"
                        />
                        <p>Write</p>
                    </div>
                </a>
            </li>
            <li class="nav__item icon">
                <img
                    src="{% static 'assets/images/light-mode.svg' %}"
                    alt="light-mode icon"
                    width="24px"
                    height="24px"
                />
            </li>
            <li class="nav__item icon">
                <img
                    src="{% static 'assets/images/notification.svg' %}"
                    alt="notification icon"
                />
            </li>

            {% if user.is_authenticated %}
            <p class="user">{{user}}</p>
            {% else %}

            <li class="nav__item d-flex--c">
                <a class="nav__link" href="{% url 'account_signup' %}"
                    >Signup</a
                >
            </li>

            {% endif%}
        </ul>
    </nav>
</header>
