
body{
    padding-top: 5em;
}

.nav__items{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    align-items: center;
    
}
.nav__search-bar{
    width:50vw;
}
.profile-pic{
    height: 3rem;
    width:3rem;
}
.profile-pic img{
    border-radius: 50%;
}

.post-details{
   margin-top: 4px;
}


.delete-confirmation{
    display: none;
}
.author{
    display: flex;
    align-items: center;
    gap: 1em;
    margin:2em;


}
.author-containter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.author__link{
    text-decoration: none;
    color: inherit;
    display: block;
    width: 300px;
}

.author__link:hover{
    color: var(--tertiary-opacity);
}

/* post-options */
.post-option--container{
    position: relative;
}
.post-options{

display: flex;
align-items: center;
justify-content: space-between;
padding: 0.25em 1.25em;
max-width: 360px;
border: 2px solid var(--tertiary-opacity);
border-radius: var(--primary-btn-border-radius);
margin: 0 auto ;
position: relative;
margin-top: 2em;

}

.post-options .post-option{
  
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.25em   0.75em;  
}


.post-options .post-option__more{
    border: none;
}
.post-options .post-option:hover,
.post-options .post-option:active{
    cursor: pointer;
}
.post-option-more-content{
   
    border: 1px solid var(--tertiary-opacity);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5em 0;
    border-radius: var(--primary-btn-border-radius);
    background-color: var(--background-color);
    position: absolute;
    bottom: calc(100% + 8px);
    left: 55%;
    transform: translateX(45%);
}
.post-option-more-content .post-option a{
text-decoration: none;
color: inherit;
}

.post-option-more-content .post-option{
    padding: 0.75em 1.25em;

}
.post-option-more-content .post-option:hover,
.post-option-more-content .post-option:active{
    background-color: var(--hover);
}


.svg-container{
    width:36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.svg-container:hover,
.svg-container:active{
background-color: var(--hover);
}
.author-details{
    margin: 2.5em 0;
    font-size: 1.125rem;
    line-height: 1.2;
    border-bottom: 1px solid var(--tertiary-opacity);
}
.author-details__item{
    padding-bottom:0.5em ;
    
}

.author-details__profile{
    display: flex;
    gap: 2em;
    padding: 1em 0;
    align-items: center;
}

.author-details__username-bio{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 600px;
    
}
.author-details__text{
    font-size:1.2rem ;
    color: var(--tertiary-opacity);

}
.author-details__username{
    font-size: 1.2rem;
    font-weight: 600;
}
/* comment section */
.comment__user-profile-pic,
.blog-post__user-profile-pic,
.reply-author-pic{
    width: 2em;
    height: 2em;
}
.comment__user-profile-pic img,
.blog-post__user-profile-pic img,
.reply-header img{
    border-radius: 50%;
}
.blog-post-comment__user-comment{
    margin: 2.5em 0;
}
#comment-form{
    display: flex;
    flex-direction: column;
    gap:1em
    
}
#comment-form input{
    display: none;
}
.comment__comment-input{
    flex: 1;
}
.content{
    flex: 1;
}
.comment__textarea{
width: 60%;
height: 10em;
padding: 0.5em;
background-color: var(--background-color);
color: inherit;
border-radius: 0.25em;

}
.blog-post-comment h1{
margin: 1em 0;
}
.comment__add-comment-btn{
    outline: none;
    padding:0.75em 1em ;
    border: none;
    background-color: var(--darker-primary-color);
    color: #ffffff;
    font-weight: 500;
    font-size: 0.95rem;
    border-radius: 0.25em;
}
.comment__add-comment-btn:hover,
.comment__add-comment-btn:active{
    background-color: var(--primary-color);
}
.blog-post-comment__text{
    margin-left: 2.5em;
    font-size: 1.25rem;
    font-weight: 700;
}

.blog-post__user-details{
    display: flex;
    gap: 0.75em;
    align-items: center;
    margin: 0.25em 0;
}
.blog-post__comment-details{
    font-size:1.2rem;
    line-height: 1.1;
    margin-left: 2.5em;
}
.blog-post-comment__comments{
    margin-bottom: 2.5em;
    width: 70%;
    border-bottom: 1px solid var(--tertiary-opacity);
    padding: 0.75em 0.5em;
}

.blog-post__comment-container{
    position: relative;

}

.blog-post__comment-actions{
margin-left: auto;
}

.blog-post__comment-action-options {
    
    border: 1px solid var(--tertiary-opacity);
   
    padding: 0.75em 0;
    border-radius:var(--primary-btn-border-radius);
    width: 100px;
    background-color: var(--background-color);
    position: absolute;
    bottom: calc(100%);
    left: 80%;
    transform: translateX(40%);

}
.blog-post__comment-action-options a{
text-decoration: none;
color: inherit;
}
.comment-action-option__edit-comment,
.comment-action-option__delete-comment{
    padding: 0.75em 1.25em;
}
.comment-action-option__edit-comment:hover,
.comment-action-option__edit-comment:active,
.comment-action-option__delete-comment:hover,
.comment-action-option__delete-comment:active
{
background-color: var(--hover);
}
.hidden{
    display: none;
}

.comment-like{
margin: 0.5em 0;
margin-left: 2.5em;
display: flex;
align-items: center;
gap:0.5em;

}
.comment-edit{
    justify-self: start;
}

.reply-section{
   width: 80%;
   margin: 1em;
   margin-left: 2em;
}
.reply-header{
display: flex;
gap:0.75em;
align-items: center;

}
.reply-body{
    margin-left: 2.5em;
}
.reply-item{
    margin: 0.75em 0.5em;
}
.reply-form{
    margin-left: 2.75em;
}
.reply-form textarea{
width: 100%;
height: 4em;
padding: 0.5em;
background-color: var(--background-color);
color: inherit;
border-radius: 0.25em;

}

