
body{
    padding-top: 5em;
}

.nav__items{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    align-items: center;
    
}
.nav__search-bar{
    width:50vw;
}
.profile-pic{
    height: 3rem;
    width:3rem;
}
.profile-pic img{
    border-radius: 50%;
}

.post-details{
   margin-top: 4px;
}


.delete-confirmation{
    display: none;
}
.author{
    display: flex;
    align-items: center;
    gap: 1em;
    margin:2em;


}
.author__link{
    text-decoration: none;
    color: inherit;
    display: block;
    width: 300px;
}

.author__link:hover{
    color: var(--tertiary-opacity);
}

.update-delete{
    margin: 2em;
    display: flex;
    justify-content: space-around;
    background-color: var(--background-color);
    padding: 0.5em 0;
  
}

.update-delete a{
    text-decoration: none;
    color:white;
    font-size: 1.1rem;
    padding: 0.75em 1em;
    border-radius: 0.25em;
    font-weight: 600;
}

.edit{
background-color: var(--darker-primary-color);

}
.delete{
    background-color: red;
}