@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,700;1,400&family=Roboto&display=swap");

body {
    font-family: "Plus Jakarta Sans", sans-serif;
}
header{
box-shadow: none;
}
input {
    background-color: var(--background-color2);
    color: white;
}
.d-flex {
    display: flex;
    gap: 8px;
    align-items: center;
}


/*Post options*/

.post-options{
    display: flex;
    align-items:center ;
    justify-content:space-between ;
    padding:2.5em 0 ;

}

.post-options button {
    border: none;
    background-color: inherit;
    padding: 0.25em 0.75em;
    color: inherit;
}
.post-options button:hover {
    background-color: var(--hover   );
    border-radius: 16px;
}
.post-category .btn--show-categories{
    padding: 0.5em 0.75em;
}
.post-options p,
button,
span {
    font-size: 1rem;
    color:inherit;
    font-weight: 700;
}

.post-category__options {
    height: 125px;
    width: 275px;
    position: absolute;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--background-color);
    padding: 1rem;

}
#id_title {
    border: none;
    outline: none;
    width: 100%;
    font-size: 2rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
    padding: 1rem;
    color: var(--font-color2);
}
#id_subtitle {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.5rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 1rem;
    color: var(--font-color2);
}
.post-subtitle {
    position: relative;
    background-color: var(--background-color2);
    color: var(--font-color);
}
.post-title {
    color: var(--font-color);
    background-color: var(--background-color2);
}
#btn--close-subtitle{
    position: absolute;
    top: 1rem;
    color: var(--font-color2);
    font-size: 1.5rem;
    padding: 4px 8px;
    border-radius: 50%;
}
#btn--close-subtitle:hover {
    background-color: var(--hover);
}


.hidden {
    display: none;
    opacity: 0;
}
.btn--close-modal{
    position:absolute;
    top: 0px;
    right: 0px;
    color:var(--font-color);
    padding: 4px 8px;
    border-radius: 50%;
    margin: 4px;
}

.btn--close-modal:hover,
.btn--close-modal:active{
background-color:var(--hover);
cursor: pointer;
}

#id_categories div{
    padding: 0.25rem;
}

.post-cover{
    position: absolute;

}   

.post-options .btn-primary{
    border: none;
    outline: none;
    background-color: var(--darker-primary-color);
    padding:var(--primary-btn-padding);
    border-radius: 2em;
    justify-self: flex-end;
    color: white;
}
.post-options .btn-primary:hover,
.post-options .btn-primary:active{
    background-color: var(--primary-color);
    color: white;
}
#id_tags{
    background-color: var(--background-color);
    height: 2rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    padding: 0.25rem;
    font: 1rem;
}

