<header>
<nav class="nav">
    <ul class="nav__items">
        <li class="nav__item">
            <a href="{% url 'home' %}" class="logo">
                <h1 class="logo-font desktop-version">WebSphere</h1>
                <h1 class="logo-font mobile-version">WS</h1>
            </a>
        </li>

        <li class="nav__item nav__search">
            <form
                action="{% url 'home'% }"
                method="get"
                class="container--search-bar"
            >
                <input
                    type="search"
                    class="nav__search-bar"
                    placeholder="Enter your search here"
                    name="q"
                    aria-\
                    label="Search"
                />
                <button type="submit" value="search" class="btn--search">
                    search
                </button>
            </form>
        </li>

        <li class="nav__item">
            <div class="nav__item icon">
                <button
                    id="light-mode-toggle"
                    class="light-mode-toggle"
                    aria-label="toggle light mode"
                >
                    <svg
                        width="1.5rem"
                        height="1.5rem"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g
                            id="SVGRepo_tracerCarrier"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></g>
                        <g id="SVGRepo_iconCarrier">
                            <g clip-path="url(#a)" fill="var(--svg-dark-mode)">
                                <path
                                    d="M12 0a1 1 0 0 1 1 1v4a1 1 0 1 1-2 0V1a1 1 0 0 1 1-1ZM4.929 3.515a1 1 0 0 0-1.414 1.414l2.828 2.828a1 1 0 0 0 1.414-1.414L4.93 3.515ZM1 11a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2H1ZM18 12a1 1 0 0 1 1-1h4a1 1 0 1 1 0 2h-4a1 1 0 0 1-1-1ZM17.657 16.243a1 1 0 0 0-1.414 1.414l2.828 2.828a1 1 0 1 0 1.414-1.414l-2.828-2.828ZM7.757 17.657a1 1 0 1 0-1.414-1.414L3.515 19.07a1 1 0 1 0 1.414 1.414l2.828-2.828ZM20.485 4.929a1 1 0 0 0-1.414-1.414l-2.828 2.828a1 1 0 1 0 1.414 1.414l2.828-2.828ZM13 19a1 1 0 1 0-2 0v4a1 1 0 1 0 2 0v-4ZM12 7a5 5 0 1 0 0 10 5 5 0 0 0 0-10Z"
                                ></path>
                            </g>
                            <defs>
                                <clipPath id="a">
                                    <path
                                        fill="#ffffff"
                                        d="M0 0h24v24H0z"
                                    ></path>
                                </clipPath>
                            </defs>
                        </g>
                    </svg>
                </button>
            </div>
        </li>
        {% if user.is_authenticated %}
        <li class="nav__item">
            <div class="nav__item-user">
                <div class="dropdown">
                    <img
                        src="{{  request.user.profile.profile_img }}"
                        alt="{{request.user}}'s photo"
                    />
                    <div class="dropdown-content">
                        <a
                            href="{% url 'profile' %}"
                            class="nav__link--user"
                        >
                            Profile</a
                        >
                        <a href="{% url 'account_logout' %}">Logout</a>
                    </div>
                </div>
            </div>
        </li>
        {% else %}
        <li class="nav__item">
            <a class="nav__link sign-up" href="{% url 'account_signup' %}"
                >Sign-up</a
            >
        </li>

        {% endif%}
    </ul>
</nav>
</header>
{% include 'partials/_mobile_search.html' %}