@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
  }
  
  body{
    background-color: rgb(14, 13, 13);
    min-height: 100vh;
    color: white;
    display: flex;
    }

    :root {

        --accent-color: #45A5F5;
        --accent-color2:#4CAF50;
        --border-color:#333333;
        --background-color: #192734;
        --background-color2:#111722;
        --link-color:#45A5F5;
    
        --header-font: 'Montserrat', sans-serif;
        --font:'Roboto', sans-serif;
    }
  @font-face {
    font-family:Norse-bold;
    src: url("resources/Norse-Bold.otf") format("opentype")
  }
  .right-side{
   flex:1;
    text-align: center;
    display: flex;
    flex-direction: column; 
  }
  .logo{
    display: block;
    font-family: Norse-Bold;
    font-size: 3.75rem;
  }

  .intro{
   
    border: 1 red solid;
    padding: 3rem 0;
   
   
  }
.intro-text{
    width: 80%;
    margin: auto;
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

.intro-text .intro-heading{
    font-size: 6.5vmin;
    color: #45A5F5;
    margin-bottom: 0.4em;
}
 .intro-text span{
    color: #4CAF50;
}
  .photo-credit{
    padding-bottom: 1rem    ;
    margin-top: auto;
  }

  .photo-credit a{
    text-decoration: none;
    color: white;
  }
  .photo-credit a:hover{
    color: green;
  }
 
  form{
    display: flex;
    flex-direction: column ;
    padding: 2rem 1rem;
    flex: 1;
  }

  fieldset{
    border:none;
    border-radius: 8px;
    padding: 1.25em;
  }
  legend{
    font-size: 2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #4CAF50;    
}
  input{
    outline: none;
  }
  .form{
    display:flex;
    flex: 1;
    flex-direction: column;
    background-color: rgb(6, 6, 6);
    box-shadow: 0 10px 20px -2px rgb(22, 22, 22);
    flex-wrap: wrap;
    padding:16px;
    margin: 12px 0;
  
  }
  .form-title{
    font-size: 22px;
   
  }
  
  .user-details input{
    width:100%;
    height: 30px;
    border-radius: 6px;
    padding-left:4px;
    margin-top: 8px;
    font-size: 14px;
    outline: none;
    background-color: rgb(34, 33, 33);
    color: white;
    border: none;
    border: 1px grey solid;
  }
  .user-details input:hover{
    background-color: white;
    color: rgb(34, 33, 33);
    border: 1px rgb(243, 235, 235) solid;
  }
  .form-btn .submit-btn{
    outline: none;
    border: none;
    padding:12px 20px;
    margin: 12px 0;
    border-radius: 8px;
    font-size: 16px;
    background-color: rgba(15, 228, 15, 0.747);
    color: white;
    border: 1px solid white;
    border: none;
  
    
  }
  .form-btn .submit-btn:hover{
   
    background:rgba(21, 95, 21, 0.747) ;
    border: 1px solid grey;
  }
  .log-in a{
    text-decoration: none;
    color: rgba(15, 228, 15, 0.747);
  }
  .log-in a:hover{
    color: rgba(21, 95, 21, 0.747);
  }

  #error-message{
    display: none;
  }