*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
  }
  html{
    height: 100%;
  }
  body{
    background-color: rgb(14, 13, 13);
    height:100%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
  @font-face {
    font-family:Norse-bold;
    src: url("resources/Norse-Bold.otf") format("opentype")
  }
  .right-side{
    height: 100%;
    text-align: center;
  }
  .logo{
    display: flex;
    background-color: rgba(18, 17, 17, 0.698);
    position:absolute;
    top: 110px;
    width: 40%;
    align-items: center;
    justify-content: center;
    font-family: Norse-Bold;
    font-size: 60px;
  }
  .photo-credit{
    position: absolute;
    bottom: 5px;
    left: 150px;
  
  }
  .photo-credit a{
    text-decoration: none;
    color: white;
  }
  .photo-credit a:hover{
    color: green;
  }
 
  form{
    height: 100%;
    display: flex;
    flex-direction: column ;
    padding: 2rem 1rem;
  }
  input{
    outline: none;
  }
  .form{
    display:flex;
    flex: 1;
    flex-direction: column;
    background-color: rgb(6, 6, 6);
    box-shadow: 0 10px 20px -2px rgb(22, 22, 22);
    flex-wrap: wrap;
    padding:16px;
    margin: 12px 0;
  
  }
  .form-title{
    font-size: 22px;
   
  }
  .user-details{
  
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    
  
    
  }
  .user-details label{
    display: block;
  }
  .user-details input{
    width:100%;
    height: 30px;
    border-radius: 6px;
    padding-left:4px;
    margin-top: 8px;
    font-size: 14px;
    outline: none;
    background-color: rgb(34, 33, 33);
    color: white;
    border: none;
    border: 1px grey solid;
  }
  .user-details input:hover{
    background-color: white;
    color: rgb(34, 33, 33);
    border: 1px rgb(243, 235, 235) solid;
  }
  .form-btn .submit-btn{
    outline: none;
    border: none;
    padding:12px 20px;
    margin: 12px 0;
    border-radius: 8px;
    font-size: 16px;
    background-color: rgba(15, 228, 15, 0.747);
    color: white;
    border: 1px solid white;
    border: none;
  
    
  }
  .form-btn .submit-btn:hover{
   
    background:rgba(21, 95, 21, 0.747) ;
    border: 1px solid grey;
  }
  .log-in a{
    text-decoration: none;
    color: rgba(15, 228, 15, 0.747);
  }
  .log-in a:hover{
    color: rgba(21, 95, 21, 0.747);
  }
  span{
    font-size: 16px;
    color:rgba(15, 228, 15, 0.747);
  }
  #error-message{
    display: none;
  }