.nav{
padding: 1.25rem 3rem;
}
.nav__items{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    align-items: center;
    
}

.profile-pic{
    height: 3rem;
    width:3rem;
}
.profile-pic img{
    border-radius: 50%;
}

.post-details{
   margin-top: 4px;
}

.second-sec{
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
    align-items: center;
}
.btn__follow{
    padding:  0.5em 1em;
    border: none;
    border-radius: 2rem;
    background-color:var(--darker-primary-color) ;
    display: flex;
    align-content: center;
    gap: 4px;    
}

.btn__follow:hover, .btn__follow:active{
    background-color: var(--primary-color);
}
.btn__follow span{
    color: white;
    font: 1.2rem;
    margin-top: 4px;
    font-weight: bolder;
}
.delete-confirmation{
    display: none;
}
.author{
    display: flex;
    align-items: center;
    gap: 1em;
    margin:2em;


}
.author__link{
    text-decoration: none;
    color: inherit;
    display: block;
    width: 300px;
}

.author__link:hover{
    color: var(--tertiary-opacity);
}