
.container-grid{
display: grid;
grid-template-columns: 3fr 1.5fr;
gap: 4rem;
}

/* Post settings */
.post-card{
    border: var(--border);
    border-radius: 1.5rem;
    padding: 1.5rem;
    gap: 0.5rem;
    
}

.post-title{
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.4rem;
    
}
.publish-date{
    color: rgb(212, 209, 209);
}
.blogpost__content{
    margin-top: 1.2rem;
    margin-bottom: 0.2rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 1rem;
    
}
.post-content span {
    color: rgb(212, 209, 209)!important;
    font-size: 1rem;
}
.post-image{
    width: 250px;
    height: auto; 
}
.blogpost__cover-img{
    border-radius: 1rem;
}

.post-content{
    width: 80%;
text-align: start;
flex-wrap: wrap;
justify-self: start;

    
}
.blogposts .post-card{
    margin-bottom: 3rem;
}

.category{
    padding: 0.75rem;
    border-radius: 2rem;
    background-color:#192734;
}
.category:hover, .category:active{
background-color: #192734b6;
cursor: pointer;
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 0.85rem;
}
.link--post-details{
    color: #1c6bbf;
    text-decoration: none;
}
.link--post-details:hover,.link--post-details:active{
    color: rgba(69, 165, 245, 0.5);
}
.link--category{
    color: inherit;
    text-decoration: none;

}

.category-section{
    border: var(--border);
    padding: 1rem;
    border-radius: 2rem;
}
.category-list li{
    list-style: none;
    border-bottom: 1px solid rgba(152, 152, 152, 0.502);
    margin-bottom: 1.5rem;
    margin-top: 0.75rem;
}
.category-list a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.category-list a:hover, .category-list a:active{
color:rgb(212, 209, 209);
}

.category-list a:checked{
    color: blue;
}
.category-section h3{
    text-align: center;
    color:var(--secondary-color);
    font-size: bolder;
    margin-bottom: 1rem;
}
.category-list li:nth-child(even){
  color: rgb(217, 184, 134)!important;
}

/*Drop down Menu*/
.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);   
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a {
    color: black;
    padding: 0.75rem;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
