@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #45a5f5;
    --darker-primary-color: #1c6bbf;
    --primary-opacity: rgba(69, 165, 245, 0.5);
    --secondary-color: #4caf50;
    --darker-secondary-color: #357a35;
    --secondary-opacity: rgba(76, 175, 80, 0.5);
    --tertiary-color: #b7dde9;
    --darker-tertiary-color: #add8e6;
    --tertiary-opacity: rgba(255, 255, 255, 0.633);
    --background-color: #0f0f0f;
    --background-color2: #040404;
    --header-font: "Montserrat", sans-serif;
    --font: "Roboto", sans-serif;
    --border:1px solid  rgba(152, 152, 152, 0.502);
    --font-color:#ffffff;
    --primary-btn-padding:0.5em 1em;
    --primary-btn-border-radius:0.175em;
    --svg-dark-mode:#ffffff;    
    --font-color2:rgb(212, 209, 209);
    --hover: rgba(183, 221, 233, 0.556);
    /* the category in the post-card */
    --category-background: #192734;
    --category-background-hover:#192734b6;
    /* social icons */
    --social-icon:#b0bec5;
    --social:#f34f4f(125, 30, 30)(136, 68, 68);

}

.light-mode{
    --primary-color: #1976D2;
    --darker-primary-color: #0D47A1;
    --primary-opacity: rgba(25, 118, 210, 0.5);
    --secondary-color: #4CAF50;
    --darker-secondary-color: #357a35;
    --secondary-opacity: rgba(76, 175, 80, 0.5);
    --tertiary-color: #0e1110;
    --darker-tertiary-color: #090b0b;
    --tertiary-opacity: rgba(14, 17, 16, 0.773);
    --background-color: #f8f8f8;
    --background-color2: #ffffff;
    --font-color: #000000;
    --svg-dark-mode: #000000;margin-right: 1em;
    --hover:#e0e3e2;
    --font-color2:#171c1b;
    --category-background: #cbd0cf;
    --category-background-hover:#c1c7c5;
    --social-icon:#75797a;
}

html{
    height: 100;
}

body {
    background-color: var(--background-color2);
    color: var(--font-color); 
    font-family: var(--font);
    padding-top: 8em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1;
}
.nav-header {
    background-color: var(--background-color2);
    padding: 0.5em 2em;
    box-shadow: 0px 2px 1px rgba(152, 152, 152, 0.502); 
 position: fixed;
 top:0;
 left: 0;
 width: 100%;
}

.nav-header ul {
    list-style: none;
}


img {
    width: 100%;
}

.container {
    max-width: 1000px;
    width: 90vw;
    margin: 0 auto;
   
}
.hidden{
    display: none;
}

.error-404 h1{
    margin: 1em 0;
}

/* NAVIGATION */
.mobile-version{
    display: none;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   gap: 1em;
}

.logo-font{
font-size: clamp(2rem,3vmin,4rem);
color: #ffffff;

}
.logo{
    text-decoration: none;
    background-color:#000000;
    text-align: center;
    padding: 0.5em;
    border-radius: .15em;
    border: .25em solid var(--font-color);
    
}
.logo h1:hover,
.logo h1:link{
    color:rgba(255, 255, 255, 0.633);
}
.nav__items {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    flex: 1;
}
.nav__search input{
    cursor: pointer;
}

.nav__link:link,
.nav__link:visited {
    font-weight: 400;
    color: inherit;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
}
.nav__item-text{
    font-size: 1.25rem;
}
.nav__item-text:hover,
.nav__item-text:active{
    color: var(--tertiary-opacity);
}
.nav__link--user:hover,
.nav__link--user:active{
    color: var(--tertiary-opacity);
}
.write-post img{
    width: 1rem;
    height: 1rem;

}
.container--search-bar {
    display: inline-flex;
    border-radius: 0.25em;
    overflow: hidden;
}
.nav__search-bar {
    border: 0;
    height: 3rem;
    outline: none;
    font-size: 1rem;
    padding: 0 0.5em;
    width: 45vw;
    background-color: var(--background-color);
    color: var(--font-color);
    
}

.nav__item-user{
    max-width: 48px;
    max-height: 48px;
    cursor:pointer;
}
.nav__item-user img{
    border-radius: 50%;
    max-height: 42px;
}

.user-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.25em;
}

.user-detail a{
    color: inherit;
    text-decoration: none;
}
.btn--search {
    color: white;
    background-color: var(--darker-primary-color);
    border: 0;
    padding:0 0.4rem;
   
}
.nav__link-post{
    display: flex;
    align-items: center;
    justify-content: center;
   gap: 8px;   
 
}
.nav__link-post p{
    font-size: 1.2rem;
    font-weight: 500;
}
.write-post svg{
    width: 1rem;
    height: 1rem;

}

.write-post .nav__link{
    background-color: var(--darker-primary-color);
    padding: var(--primary-btn-padding);
    border-radius: var(  --primary-btn-border-radius);
    color:white;

}
.write-post .nav__link:hover,
.write-post .nav__link:active{
    background-color: var(--primary-color);

}
.light-mode-toggle{
    background-color: var(--background-color2);
    outline: none;
    border: none;
    cursor: pointer;
}
.icon img{
    width: 1.5rem;
    height:1.5rem
}
.icon:hover,
.icon:active{
    cursor: pointer;
}

.user{
    font-size: 1.2rem;
}

.btn--search:hover,
.btn--search:active{
   cursor: pointer;
   background-color: var(--primary-color);
}

.nav__item .sign-up{
    padding: 0.5em 0.75em;
    background-color: var(--darker-primary-color);
    border-radius: 0.2em;
    color: white;
    font-size: 1.1rem;
}
.sign-up:hover{
    background-color: var(--primary-color);
}
.user-img{
    width: 42px;
    height: 42px;
}
/*Drop down Menu*/
.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color:var(--background-color);
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);   
    z-index: 1;
    border-radius: 0.225em;
    
  }
  .nav__item-user .dropdown-content{

    width: 100px;
    min-width: 100px;
    right: 0px;

  }
.nav__item-user a{
    border-bottom: var(--border);
}
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a {
    color: var(--font-color);
    padding: 0.75rem;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: var( --category-background);
  }

  .toggle-button{
    position: absolute;
    top:.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }

  .toggle-button .bar{
    height:3px;
    width:100%;
    background-color: var(--svg-dark-mode);
    border-radius: 10px;
  }



 @media(max-width:600px){
    html{
        font-size: 12px;
    }  
    
}

@media(max-width:800px){
    html{
        font-size:12px;
    }
    header{
        padding: 0.75em 1em;
    }
    .desktop-version{
        display: none;
    }
    .mobile-version{
        display: block;
    }
    .write-post .nav__link{
        background-color:var(--background-color2);
        padding:0;
        color:white;
    }

    .write-post svg{
        width: 1.5rem;
        height: 1.5rem;
    
    }
    .write-post .nav__link:hover,
.write-post .nav__link:active{
    background-color: inherit;

}
.user__profile-pic{
    width: 5rem;
    height: 5rem;
}

.search-btn{
    background-color: inherit;
    border:none;
    outline: none;
}
.search-btn:hover,
.search-btn:active{
    cursor: pointer;
}
.search-btn svg{
    width: 1.5rem;
    height: 1.5rem;
}

.search-mobile{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
 

}
.hidden{
    display:none;
}
.nav__search-bar{
    width: 80vw;

}

} 

/* footer section */
footer{
    margin-top: 2em;
    padding: 1em;
    background-color: var(--background-color);
    text-align: center;
    font-size: 1.5rem;
  
}
footer div{
    margin-bottom:0.5em;
}