@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
  }
  
  @font-face {
    font-family:Norse-bold;
    src: url("resources/Norse-Bold.otf") format("opentype")
  }

main{
 height: 100vh;
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
gap: 1em;
}
  
.form{
    padding: 2em;
    max-width: 450px;
    border: 1px solid  rgba(152, 152, 152, 0.502);
    border-radius: 0.25em;
}
  input{
    outline: none;
    width: 100%;
    margin: 0.5em 0;
    padding: 0.75em;
    font-size: 1rem;
    border-radius: 0.25em;
    border:1px solid  rgba(152, 152, 152, 0.502);
    background-color: #f8f8f8;
  }
  label{
    font-size: 1rem;
  }


.form-class{
    margin: 1em 0;
}
.submit-btn{
    background-color: #1c6bbf;
    outline: none;
    border: none;
    font-size: 1rem;
    color:white;
    font-weight: 700;
}

.form-errors{
    margin: 0.5em 0;
}

svg{
    width:24px;
    height:24px;
}
.logo{
    font-size: clamp(1rem,5.25vmin,4rem);
    font-weight:700;
    text-align: center;
    margin-bottom: 1em;
}

.social-Oauth{
    display:flex;
    gap:1em;
    align-items: center;
    margin: .5em 0;
    justify-content: center;
    margin-bottom: 1em;
   
}
.social-Oauth p{
    font-size:1rem;
    color:#0D47A1;
    font-weight: 600;
}
.github svg{
    width:22px;
    height:22px;
}
.github, .google{
    padding: 0.45em 2.25em;
    border:1px solid rgba(152, 152, 152, 0.502);
    background-color: #f8f8f8;
    border-radius: 1.5em;

}
.login a{
    text-decoration: none;
    color: #0D47A1;
    font-weight: 600;
}
.login{
    font-size: 1rem;
    font-weight: 600;
}

.errorlist li{
    list-style: none;
    color: red;
    text-align: center;
}

#logout-form{
    border: none;
}
.confirm{
    margin: 0.5em 0;
}

.confirm-logout{
    background-color: red;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

h1{
    display: block;
}

button{
    background-color: #1c6bbf;
    outline: none;
    border: none;
    font-size: 1rem;
    color:white;
    font-weight: 700;
    padding: 0.5em 0.75em ;
    border-radius: 0.25em;
}
