body{
    padding-top: 4em;
}
.form--user-update{
    margin-top:5em;
}
.explore{
    display: none;
}
.nav__search-bar{
    width: 40vw;
}
.container{
    max-width: 800px;
    width: 60vw;
    margin: 0 auto;
}
.user-update input{
    width: 100%;
    padding: 0.625em;
    border-radius: 0.25em;
    border: none;
    background-color: var(--background-color);
    color: var(--font-color);
    font-size:1.075rem;

}
.form-class{
    margin: 1.5em 0;
}

.form-class p{
    margin-top: 0.75em;
}


.form-class textarea{
    width: 100%;
    border-radius: 0.25em;
    background-color: var(--background-color);
    color: var(--font-color);
    padding: 1em;
    font-size: 1rem;
}


.section--border{
    border: var(--border);
    padding:1.5em 3em;
    border-radius: 0.425em;
    margin-top: 2.5em;
}
.btn-container{
   
    border-radius: 0.425em;
    position: sticky;
}   
.btn--submit{
    width: 100%;
    background-color: var(--darker-primary-color);
    border: none;
    outline: none;
    padding:0.75em 1em;
    color: white;
    font-size:1rem;
    border-radius: 0.25em;
    font-weight: 700;
}

.btn--submit:hover,
.btn--submit:active{
    background-color: var( --primary-color);
}
.charcount{
    text-align: end;
}

#id_gender{
    background-color: var(--background-color);
    color:var(--font-color);
    border-radius: 0.25em ;
    padding:0.5em 0.75em ;
    font-size: 1rem;
}

.form-class input
{    border:2px solid var(--background-color);
}
.form-class input:focus{
    outline: none;
    border: 2px solid var(--primary-opacity);
}

.section__header{
    font-size: clamp(1rem,5vmin,2rem);
    font-weight: 900;
    color: var(--tertiary-color);
}

@media(max-width:800px){
    .container{
        width: 95vw;
    }
    .nav__search-bar {
        width: 80vw;
    }
}