
main{
    margin-top: 8em;
}
.userprofile{
    margin-top: 2em;
    border: var(--border);
    padding: 2em;
    border-radius: 1em;
   background-color: var(--background-color);
   min-width: 450px;
}

.user__profile-pic{
    width: 9.375rem;
    height:9.375rem;
   
}
.user__profile-pic img{
    border-radius: 50%;
}

.socials svg{
    width: 1.5rem;
    height: 1.5rem;
}
.user__location svg,
.user__date-joined svg{
    width:24px;
    height:24px;
}

.user{
    display:flex;
    gap: 3rem;
    justify-content: start;
    align-content: center;
}
.user__name-and-bio{
    display: flex;
    flex-direction: column;
    align-self: center;
    flex: 1;
    gap: 1rem;
}
.link--edit{
    padding:var(--primary-btn-padding)  ;
    margin-left: auto;
    border-radius: var(  --primary-btn-border-radius);
    background-color:var(--darker-primary-color) ;
    color: white;
    text-decoration: none;
}

.link--edit:hover,
.link--edit:active{
    background-color: var(--primary-color);
}
.user-details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.user__location,
.user__date-joined{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:0.25em;
}
.socials{
    display:flex;
    gap: 0.5em;
    align-items: center;
}


.linkedIn svg{
    width: 1.8rem;
    height: 1.8rem;
}
.social__item{
    padding: 0.25em;
}
.social__item:hover{
  
    border-radius: 50%;
    background-color: var(--hover);
}

.tech-stack{
    margin-top: 2em;
}
.tech-stack__item{
    background-color: var(--background-color);
    border: var(--border);
    max-width: 450px;
    border-radius: 0.5em;
 
}
.tech-stack__title{
    border-bottom: var(--border);
}
.tech-stack__title,
.tech-stack__text{
    padding:0.75em 1.5em ;
}
.user-post-and-comment{
    margin-top: 2em;
    
}

.user-post-and-comment__item{
    border: var(--border);
    max-width: 450px;
    border-radius: 0.5em;
    background-color: var(--background-color);
}

.user-post-and-comment__title{
    border-bottom: var(--border);
}
.user-post-and-comment__title,
.user-post__published,
.user-post__comments{
    padding:0.75em 1.5em ;
   
}
.user-post__published{
    border-bottom: var(--border);
}

.user-post__published a{
    text-decoration: none;
    color: inherit;
}

.user-post__published a:hover{
    color:var( --tertiary-opacity);
}
