{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{% block title %} Creating Article {% endblock %}</title>
        <link
            rel="preload"
            as="style"
            href="{% static 'CSS/ckeditor_custom.css' %}"
            onload="this.rel='stylesheet'"
        />
        <link
            rel="preload"
            as="style"
            href="{% static 'CSS/main.css' %}"
            onload="this.rel='stylesheet'"
        />
        <link
            rel="preload"
            as="style"
            href="{% static 'CSS/blogpost.css' %}"
            onload="this.rel='stylesheet'"
        />
        {% block script %} {% endblock script %}
    </head>
    <body>
        <main class="container">
            {% block content %} {% endblock content %}
        </main>
        <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
        <script>
            CKEDITOR.replace("content", {
                height: "95vh",
                width: "100%",
                toolbarGroups: [
                    {
                        name: "basicstyles",
                        groups: ["basicstyles"],
                    },
                    {
                        name: "links",
                        groups: ["links"],
                    },
                    {
                        name: "paragraph",
                        groups: ["list", "blocks"],
                    },
                    {
                        name: "document",
                        groups: ["mode"],
                    },
                    {
                        name: "insert",
                        groups: ["insert"],
                    },
                    {
                        name: "styles",
                        groups: ["styles"],
                    },
                    {
                        name: "about",
                        groups: ["about"],
                    },
                ],

            });
        </script>
    </body>
</html>
