{% load static %} {% block extrahead %}
<script de>
    window.CKEDITOR_BASEPATH = "/static/ckeditor/ckeditor/";
</script>
{{ block.super }} {% endblock %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{% block title %} Creating Article {% endblock %}</title>
        <link
            rel="preload"
            as="style"
            href="{% static 'CSS/main.css' %}"
            onload="this.rel='stylesheet'"
        />
        <link
            rel="preload"
            as="style"
            href="{% static 'CSS/blogpost.css' %}"
            onload="this.rel='stylesheet'"
        />

       
        {% block script %} {% endblock script %}
    </head>
    <body>
        {% block nav %}
        {% endblock nav %}
        <main class="container">
            {% block content %} {% endblock content %}
        </main>
    </body>
</html>
