{% extends 'blogpost/base.html' %} {% load static %} 
{% block custom-css %}
<link
rel="preload"
as="style"
href="{% static 'CSS/blogcontent.css' %}"
onload="this.rel='stylesheet'"
/>
{% endblock custom-css %}

{% block nav %}
<nav class="nav">
    <ul class="nav__items">
        <li class="nav__item"><a class="nav__link"><div class="user">
            <div class="user__pic"></div>
            <div class="user__name"></div>
        </div></a></li>

        <li class="nav__item"><button type="button" class="btn--light-dark-mode-toggle"></button></li>
        <li class="nav__item"> <button type="button" class="btn--follow">follow</button></li>
        <li class="nav__item"><a class="nav__link">profile pics </a></li>
    </ul>

</nav>

{% endblock nav %}

{% block content%}
<img src=" {{ post.cover_img.url }}" alt="{{ post.title }}"/>
<h1 class="post-title">{{ post.title}}</h1>
<h2 class="post-subtitle">{{ post.subtitle }}</h2>
<div class="post-content">{{post.content|safe}}</div>

{% endblock content %}