{% extends 'blogpost/base.html'%}{% load static %}
{% block custom-css %}
<link
rel="preload"
as="style"
href="{% static 'CSS/blogpost.css' %}"
onload="this.rel='stylesheet'"
/>
{% endblock custom-css %}

{% block script %}

<script src="{% static 'Javascript/blogpost.js' %}" defer></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}" defer></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}" defer></script>
    


{% endblock script %} {% block content %}

<form method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}
   
    <div class="post-options d-flex--c">
        <div>
        <button type="button" class="btn btn--cover d-flex">
            <svg
                width="24px"
                height="24px"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                    <rect width="24" height="24" fill="white"></rect>
                    <path
                        d="M21 16V20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V18M21 16V4C21 3.44772 20.5523 3 20 3H4C3.44772 3 3 3.44772 3 4V18M21 16L15.4829 12.3219C15.1843 12.1228 14.8019 12.099 14.4809 12.2595L3 18"
                        stroke="#000000"
                        stroke-linejoin="round"
                    ></path>
                    <circle
                        cx="8"
                        cy="9"
                        r="2"
                        stroke="#000000"
                        stroke-linejoin="round"
                    ></circle>
                </g>
            </svg>
            <p>Add Cover</p>
        </button>
        <div class="post-cover hidden">
            {{form.cover_img}}
        </div>
    </div>
        <button type="button" class="btn btn--add-subtitle d-flex">
            <svg
                width="24px"
                height="24px"
                viewBox="0 0 24 24"
                fill="white"
                xmlns="http://www.w3.org/2000/svg"
            >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                    <path
                        d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z"
                        stroke="#000000"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    ></path>
                    <path
                        d="M17.5 17.0801H15.65"
                        stroke="#000000"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    ></path>
                    <path
                        d="M12.97 17.0801H6.5"
                        stroke="#000000"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    ></path>
                    <path
                        d="M17.5 13.3201H11.97"
                        stroke="#000000"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    ></path>
                    <path
                        d="M9.27 13.3201H6.5"
                        stroke="#000000"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    ></path>
                </g>
            </svg>
            <p>Add Subtitle</p>
        </button>
       
        <div class="post-category">
            <button type="button" class="btn btn--show-categories">Add Categories</button>
            <div class="post-category__options hidden">{{form.categories }}<span class="btn--close-modal">&#10006</span></div>
              </div>
       
        <button type="submit" class="btn btn-primary">Publish</button>
    </div>
    <div class="post-title">{{ form.title }}</div>
    <div class="post-subtitle hidden"><p>{{ form.subtitle }}<span id="btn--close-subtitle" class="btn--close-modal">&#10006</span></p></div>

    <div class="content" id="content">
        {{ form.content }}
    </div>
    
</form>
<script>
    CKEDITOR.replace('content', {
      width: '100%',
      height: '100%',
      removeButtons: 'PasteFromWord',
      extraPlugins :'codesnippet',
    });
  </script>
{% endblock content %}
