{% extends 'blogpost/base.html' %} {% load static %}{% block title %} {{ post.title }} {% endblock %}{% block custom-css %}
<link
    rel="preload"
    as="style"
    href="{% static 'CSS/blogcontent.css' %}"
    onload="this.rel='stylesheet'"
/>
<link
    rel="preload"
    as="style"
    href="{% static 'CSS/blogdetails.css' %}"
    onload="this.rel='stylesheet'"
/>
{% endblock custom-css %}
{% block script %}
<script src="{% static 'Javascript/blogpostdetails.js' %}" defer></script>
{% endblock script %}
{% block nav %}
<nav class="nav">
    <ul class="nav__items">
        <li class="nav__item"> <a href="{%  url 'home' %}">Home</a></li>
        <li class="nav__item">
            <a class="nav__link"
                ><div class="author">
                    <div class="author__profile-pic"></div>
                    <div class="author__name">{{ post.author }}</div>
                </div></a
            >
        </li>
        <li class="nav__item nav__search">
            <form
                action="{% url 'search_results' %}"
                method="get"
                class="nav__container--search-bar"
            >
                <input
                    type="search"
                    class="nav__search-bar"
                    placeholder="Enter your search here"
                    name="q"
                    aria-\
                    label="Search"
                />
                <button type="submit" value="search" class="btn--search"> search</button>
            </form>
        </li>

        <li class="nav__item second-sec">
            <div class="nav__item icon btn--light-dark-mode">
                <img
                    src="{% static 'assets/images/light-mode.svg' %}"
                    alt="light-mode icon"
                    title="toggle light-dark mode"
                />
            </div>
            <div class="nav__item follow">
                <button type="button" class="btn__follow">
                    <svg
                        width="24px"
                        height="24px"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        stroke="#000000"
                    >
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g
                            id="SVGRepo_tracerCarrier"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></g>
                        <g id="SVGRepo_iconCarrier">
                            <circle
                                cx="10"
                                cy="6"
                                r="4"
                                stroke="#ffffff"
                                stroke-width="1.5"
                            ></circle>
                            <path
                                d="M21 10H19M19 10H17M19 10L19 8M19 10L19 12"
                                stroke="#ffffff"
                                stroke-width="1.5"
                                stroke-linecap="round"
                            ></path>
                            <path
                                d="M17.9975 18C18 17.8358 18 17.669 18 17.5C18 15.0147 14.4183 13 10 13C5.58172 13 2 15.0147 2 17.5C2 19.9853 2 22 10 22C12.231 22 13.8398 21.8433 15 21.5634"
                                stroke="#ffffff"
                                stroke-width="1.5"
                                stroke-linecap="round"
                            ></path>
                        </g></svg>
                        <span>follow</span>
                </button>
            </div>
            <div class="nav__item">
                <a class="nav__link user__profile-pic">profile pics </a>
            </div>
        </li>
    </ul>
</nav>

{% endblock nav %} {% block content%}
<section class="post-details">
    {% if post.cover_img%}
    <img src=" {{ post.cover_img.url }}" alt="{{ post.title }}" />
    {% endif %}
    <h1 class="post-title">{{ post.title}}</h1>
    <h2 class="post-subtitle">{{ post.subtitle }}</h2>
    <div class="post-content">{{post.content|safe}}</div>
</section>


<div class="update-delete">
    {% if post.author == user %}
<div> <a href="{% url 'update_blogpost' pk=post.pk %}">Edit Post</a></div>

    <a href="{% url 'delete_blogpost' pk=post.pk %}">Delete Post</a>

{% endif %}
</div>

{% endblock content %}
