{% extends 'base.html' %} {% load static %} {% load humanize %} {% block title %} Filtered Category {% endblock %} {% block custom_css %}

<link
    rel="preload"
    as="style"
    href="{% static 'CSS/blog_home.css' %}"
    onload="this.rel='stylesheet'"
/>

{% endblock custom_css %} {% block content %}
<section class="container container-grid">
    <article class="blogposts">
    
        {% for post in posts %}
        <div>
            {% for category in post.categories.all %}
    <h2>{{ category.name }}</h2>
            {% endfor %}
        </div>
        <div class="post-card">
            <div class="post-author">
                <span class="post-author__profile-pic">profile-pic</span>
                <span class="post-author__username"> {{post.author}} </span>
            </div>
            <p id="publish-date">{{post.created_at|timesince }} ago</p>

            <div class="blogpost__content">
                <div class="post-content">
                    <h3 class="post-title">{{ post.title }}</h3>
                    {{ post.content|truncatewords:40 | safe }}
                </div>
                {% if post.cover_img %}
                <div class="post-image">
                    <img
                        src=" {{ post.cover_img.url }}"
                        alt="{{ post.title }}"
                        class="blogpost__cover-img"
                    />
                </div>
                {% endif %}
            </div>
            <div class="bottom">
                <a
                    href="{% url 'blogpost_detail' pk=post.pk %}"
                    class="link--post-details"
                    >Read More</a
                >

                <div class="categories">
                    {% for category in post.categories.all %}
                    <a href="{% url 'category_filter' pk=category.pk %}" class="link--category"> <small class="category">{{ category.name }}</small></a>
                    {% endfor %}
                </div>
            </div>
        </div>
      {% empty %}
        <div>
            <h1>Sorry there are no Post, explore other Categories</h1>
        </div>
    
        {% endfor %}
       
    </article>


</section>

{% endblock content %}
