{% extends 'layouts/c.html' %} {% load static %} {% load humanize %} {% block title %} Filtered Category {% endblock %} {% block custom-css %}

<link
    rel="preload"
    as="style"
    href="{% static 'CSS/blogpost/blog_home.css' %}"
    onload="this.rel='stylesheet'"
/>

{% endblock custom-css %} {% block content %}
<section class="search container">
    {% if posts %}
    {% for post in posts %}
    <article class="blogposts">
    {% include "blogpost/partials/_feed.html"  %}
    </article>
    {% endfor %}
    {% else %}
    <div>
        <h1>Sorry there are no Post, explore other Categories</h1>
    </div>
    {% endif %}
</section>

{% endblock content %}

    