{% extends 'layouts/c.html' %} {% load static %} {% load humanize %} {% block title %} Home {% endblock %} {% block custom-css %}

<link
    rel="preload"
    as="style"
    href="{% static 'CSS/blogpost/blog_home.css' %}"
    onload="this.rel='stylesheet'"
/>
<link
    rel="preload"
    as="style"
    href="{% static 'CSS/components/button.css' %}"
    onload="this.rel='stylesheet'"
/>
{% endblock custom-css %} 

{% block content %}
<section class="container-grid">
    {% include "blogpost/partials/_aside.html" %}
    <article class="blogposts">
        {% for post in posts %}
{% include "blogpost/partials/_feed.html" %}
{% endfor %}
</article>
<article class="recent-activites">
<h1> Recent Activities </h1>
</article>

</section>
{% endblock content %}
