{% extends 'layouts/c.html' %} {% load static %} {% load humanize %} {% block title %} Home {% endblock %} {% block custom-css %}

<link
    rel="preload"
    as="style"
    href="{% static 'CSS/blogpost/blog_home.css' %}"
    onload="this.rel='stylesheet'"
/>
<link
    rel="preload"
    as="style"
    href="{% static 'CSS/components/button.css' %}"
    onload="this.rel='stylesheet'"
/>
{% endblock custom-css %} 

{% block content %}
<section class="container-grid">
    {% include "blogpost/partials/_aside.html" %}
    <article class="blogposts">
        {% for post in posts %}
{% include "blogpost/partials/_feed.html" %}
{% endfor %}
</article>
<aside class="recent-activities">
    <section>
<h1> Recent Post </h1>
{% for post in recent_posts %}

<div class="card recent-post">
    <p class="title"><a href="{% url 'blogpost_detail' pk=post.pk  %}">{{ post.title|truncatewords:10}} </a></p>
    <div class="activity">
        <p>{{ post.post_comments.count }} comments</p>
    </div>
</div>
{% endfor %}
</section>

</aside>

</section>
{% endblock content %}
