{% extends 'base.html' %} {% load static %} {% block title %} Home {% endblock %} {% block content %}

<section class="intro container">
    <h1>
        Welcome to the WebSphere Homepage, where we write about everything web
        and self-development
    </h1>
</section>

<section class="blogpost-items container">
    {% for post in object_list %}
    <div class="blogpost-item">
        <div class="author-details">
            <span class="author-username"> {{post.author}} </span>
            <span class="publish-date"> {{post.created_at|date:"M d, Y"}} </span>
        </div>
   <h3 class="blogpost-item__title"> {{ post.title }} </h3>
  <img src=" {{ post.cover_img.url }}" alt="{{ post.title }}" />
    <div class="post__content">{{ post.content|safe }}</div>
<small>{{post.categories.name}} </small>
   
</div>
{% endfor %}
</section>

{% endblock content %}
 