
{% extends 'base.html'%}{% load static %}
{% block title %} delete post {% endblock title %}
{% block custom_css %}
<link
rel="preload"
as="style"
href="{% static 'CSS/blogpost/delete-post.css' %}"
onload="this.rel='stylesheet'"
/>
{% endblock custom_css %}
 {% block content %}
<form method="post" class="delete-post">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    {{ form }}
    <input type="submit" value="confirm">
</form>
<div><a href="{{ request.META. }}"></a></div>
{% endblock content %}


