
/* follow button */
.btn__follow p{
    padding: var(--primary-btn-padding);
    background-color: var(--darker-primary-color);
    border-radius:var(--primary-btn-border-radius);
    cursor: pointer ;
    font-size: 1.4rem;
    font-weight: 600;
}   
.btn__follow{
    color: inherit;
    text-decoration: none;
    display: block;
}
