{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{% block title %} WebSphere {% endblock %}</title>
        <link
            rel="preload"
            as="style"
            href="{% static 'CSS/main.css' %}"
            onload="this.rel='stylesheet'"
        />
    </head>
    <body>
        {% include "partials/_header.html" %}
        <main>{% block content %} {% endblock content %}</main>
        {% block javascript %}
<script src="{% static 'Javascript/main.js' %}" defer ></script>
        {% endblock javascript %}
    </body>
</html>
