{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="icon" href="{% static 'assets/images/favicon.svg' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'assests/images/favicon.png' %}" type="image/png">

        <title>{% block title %} WebSphere {% endblock title %}</title>
    <link
    rel="preload"
    as="style"
    href="{% static 'CSS/main.css' %}"
    onload="this.rel='stylesheet'"
/>
{% block custom_css %}

{% endblock custom_css %}

{% block javascript %}

<script src="{% static 'Javascript/main.js' %}" defer></script>
<script src="{% static 'Javascript/light-mode.js' %}" defer></script>
        {% endblock javascript %}

    </head>
    <body>
     
        {% include "partials/_header.html" %}
         
        <main class="container">
        
            {% block content %} {% endblock content %}</main>
       
    </body>
</html>
