@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,700;1,400&family=Roboto&display=swap");

body {
    font-family: "Plus Jakarta Sans", sans-serif;
}
main {
    background-color: var(--background-color2);
}
input {
    background-color: var(--background-color2);
    color: white;
}
.d-flex {
    display: flex;
    gap: 8px;
    align-items: center;
}

.form {
    background-color: var(--background-color2);
    border:2px white solid;
}
/*Post options*/

.post-options{
    display: flex;
    align-items:center ;
    justify-content:space-between ;
    height: 100px;
    border:2px solid white;

}
.post-options div{
    border:2px solid white
}
.post-options button {
    border: none;
    background-color: inherit;
    padding: 0.25em 1em;
    color: white;
}
.post-options button:hover {
    background-color: #55647379;
    border-radius: 16px;
}

.post-options p,
button,
span {
    font-size: 1rem;
    color: white;
    font-weight: 700;
}

.post-category__options {
    height: 125px;
    width: 275px;
    position: absolute;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--background-color);
    padding: 1rem;

}
#id_title {
    border: none;
    outline: none;
    width: 100%;
    font-size: 2rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
    padding: 1rem;
}
#id_subtitle {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.5rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 1rem;
}
.post-subtitle {
    position: relative;
    background-color: var(--background-color2);
    color: white;
}
.post-title {
    color: white;
    background-color: var(--background-color2);
}
#btn--close-subtitle{
    position: absolute;
    top: 1rem;
    color: rgba(0, 0, 0, 0.726);
    font-size: 1.5rem;
    padding: 4px 8px;
    border-radius: 50%;
}
#btn--close-subtitle:hover {
    background-color: rgba(20, 53, 88, 0.795);
}


.hidden {
    display: none;
    opacity: 0;
}
.btn--close-modal{
    position:absolute;
    top: 0px;
    right: 0px;
    color:white;
    padding: 4px 8px;
    border-radius: 50%;
    margin: 4px;
}

.btn--close-modal:hover,
.btn--close-modal:active{
background-color: #55647379;
cursor: pointer;
}

#id_categories div{
    padding: 0.25rem;
}

.post-cover{
    position: absolute;

}   

.post-options .btn-primary{
    border: none;
    outline: none;
    background-color: var(--darker-primary-color);
    padding: 0.5em 1em;
    border-radius: 2rem;
    justify-self: flex-end;
}
.post-options .btn-primary:hover,
.post-options .btn-primary:active{
    background-color: var(--primary-color);
    color: inherit;
}
#id_tags{
    background-color: var(--background-color);
    height: 2rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    padding: 0.25rem;
    font: 1rem;
}

